body {
    text-align: justify;
    background-color: #ff85ce;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    background-color: #87ffcb;
    height: 40px;
    text-align: center;
    border: 1px solid #333;
    padding: 10px 0; 
}

h1 {
    padding-top: 40px; 
}

.menu a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
}

.menu a:hover {
    color: #3528e6;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 1em;
}

.gallery-container {
    margin-top: 50px;
    text-align: center;
}

.gallery img {
    width: 400px;
    margin: 10px;
}

a {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.prev-button,
.next-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
    background-color: #45a049;
}

.saiba-mais-box {
    display: inline-block; 
    border: 2px solid #3498db; 
    background-color: #87ffcb;; 
    padding: 10px 20px; 
    margin: 20px auto; 
    line-height: 30px; 
}

.saiba-mais-box a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.saiba-mais-box a:hover {
    color: #3498db; 
}

}
